.Feature {
	color: #fff;
	margin-top: 150px;
	margin-bottom: 50px;
}

.Features {
	margin-top: 50px;
}

.Feature h1 {
	color: #FF014F;
	text-align: left;
	font-size: 3rem;
}

.Feature h5 {
	text-align: left;
}

.Feature-heading {
	font-family: "Montserrat", sans-serif;
}

.Feature-icons {
	color: #ECF0F3;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45vh;
	gap: 5em;
	flex-wrap: wrap;
}

.wrap p {
	color: #616874;
}

.wrap h3 {
	color: #000;
}

.Feature-icon {
	font-size: 40px;
	color: #FF018B;
}

.Feature-icons {
	font-size: 20px;
}

.Feature-icon2 {
	font-size: 40px;
	color: #FF018B;
}

.Feature-iconss {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss1 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss2 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss3 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.wrap h2,
h3 {
	color: #000;
	padding-top: 20px;
	padding-bottom: 15px;
}

.box1 {
	height: 23rem;
	color: #9c9c9c;
	border-radius: 1rem;
	padding: 80px 30px 30px 30px;
	justify-content: center;
	align-items: center;
	text-align: justify;
}

.box1:hover {
	color: #fff;
	background-color: #152432;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box1 h2 {
	color: #fff;
}

.box1 h3 {
	color: #fff;
}

.box1:hover p {
	color: #fff;
	transform: translateY(-20px);
	transition: all 400ms ease-in-out;
}

.box1:hover h3 {
	color: #fff;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
	padding-top: 20px;
}

.box1:hover h2 {
	color: #fff;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}

.box1:hover .Feature-icon {
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}

.box1:hover .Feature-iconss {
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}

.box1:hover .Feature-icons {
	color: #FF018B;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
	font-size: 20px;
}

.box1.one {
	background: linear-gradient(145deg, #efefef, #cdcdcd);
	box-shadow:
		20px 20px 60px #bbb,
		-20px -20px 60px #fff;
}

.box1.two {
	box-shadow:
		inset 20px 20px 60px -20px #bbb,
		inset -20px -20px 60px #ddd;
}

.box1.three {
	box-shadow: none;
	transition: box-shadow 1s ease;
}

.box1.three:hover {
	box-shadow:
		20px 20px 60px #bbb,
		-20px -20px 60px #fff;
}

.box1.four {
	box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
	transition: box-shadow 1s ease;
	transition-delay: 0.5s;
}

@media screen and (min-width:1301px) and (max-width:1400px) {}

@media screen and (min-width:1401px) {}