.Feature {
	color: #000;

	margin-top: 150px;
	background-color: #DDDDDD;
	margin-bottom: 50px;
}

.Features {
	margin-top: 50px;


}

.Feature h1 {
	color: #FF014F;
}



.wrap-login3 {
	width: 350px;
	height: 400px;
	background-color: #F5F7F9;
	background-image: linear-gradient(160deg, #E4EAED 0%, #ffffff 80%);
	border-radius: 10px;
	overflow: hidden;
	padding: 16px 45px 16px 25px;
	box-shadow: 0 0 3px 3px #DFE5ED,
		6px 6px 8px 4px #DFE5ED,
		-6px -6px 8px 4px #DFE5ED;

	float: right;
	margin-bottom: 80px;
	padding-top: 100px;

}


.limiter .wrap-login3:hover {
	background: #FF014F;
	color: #fff;
	transition: .8s ease-in;
}

.Feature-icons {
	color: #DDDDDD;
}



.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	gap: 5em;
	flex-wrap: wrap;

}


.wrap p {
	color: #616874;
}

.wrap h3 {
	color: #000;


}


.Feature-icon {
	font-size: 40px;
	color: #FF018B;
}

.Feature-icons {
	font-size: 20px;
}

.Feature-icon2 {
	font-size: 40px;
	color: #FF018B;

}

.Feature-iconss {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss1 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss2 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.Feature-iconss3 {
	height: auto;
	width: 40px;
	color: #FF018B;
}

.wrap h2,
h3 {
	color: #000;
	padding-top: 20px;
	padding-bottom: 15px;


}


.box1 {
	background: #ddd;
	width: 25rem;
	height: 20rem;
	color: #9c9c9c;
	border-radius: 1rem;
	padding: 80px 30px 30px 30px;
	justify-content: center;
	align-items: center;
	text-align: justify;

}

.box1:hover {
	color: #fff;
	background-color: #00C6A3;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}


.box1:hover p {
	color: #fff;
	transform: translateY(-20px);
	transition: all 400ms ease-in-out;

}


.box1:hover h3 {
	color: #fff;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
	padding-top: 20px;
}

.box1:hover h2 {
	color: #fff;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}

.box1:hover .Feature-icon {
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}

.box1:hover .Feature-iconss {
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
}


.box1:hover .Feature-icons {
	color: #FF018B;
	transform: translateY(-20px);
	transition: 400ms ease-in-out;
	font-size: 20px;
}

.box1.one {
	background: linear-gradient(145deg, #efefef, #cdcdcd);
	box-shadow:
		20px 20px 60px #bbb,
		-20px -20px 60px #fff;
}

.box1.two {
	box-shadow:
		inset 20px 20px 60px -20px #bbb,
		inset -20px -20px 60px #ddd;
}

.box1.three {
	box-shadow: none;
	transition: box-shadow 1s ease;
}

.box1.three:hover {
	box-shadow:
		20px 20px 60px #bbb,
		-20px -20px 60px #fff;
}

.box1.four {
	box-shadow: 20px 20px 60px #bbb,
		-20px -20px 60px #fff;
	transition: box-shadow 1s ease;
	transition-delay: 0.5s;
}

.box1.four:hover {
	/* box-shadow: 
    inset 20px 20px 60px -20px #bbb, 
    inset -20px -20px 60px #ddd; */
}











@media screen and (min-width:320px) and (max-width:410px) {
	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 35vh;
		gap: 5em;
		flex-wrap: wrap;
	}

	.box1 h3,
	h2 {
		text-align: left;
		padding-top: -10px;
		padding-bottom: 10px;
	}

	.boxes {
		height: 22rem;
	}
	
}

@media screen and (min-width:411px) and (max-width:480px) {}

@media screen and (min-width:481px) and (max-width:578px) {}

@media screen and (min-width:579px) and (max-width:768px) {}

@media screen and (min-width:769px) and (max-width:990px) {}

@media screen and (min-width:991px) and (max-width:1024px) {}

@media screen and (min-width:1025px) and (max-width:1200px) {}

@media screen and (min-width:1201px) and (max-width:1300px) {}

@media screen and (min-width:1301px) and (max-width:1400px) {}

@media screen and (min-width:1401px) {}