/* body {
    background-color: #333232;
} */
.Logo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 40px;
}

.Navbar {
    background-color: #ddd;
    padding-top: 30px;
    border-bottom: 1px solid #ddd;


}

.navLink {
    margin-right: 30px;
    font-size: 13px;
    font-weight: bold;

}

.navbar-light .navbar-nav .navbar-light .navbar-nav .show>.nav-link {
    color: #ECF0F3;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #FF014F;
}
@media screen and (max-width: 370px) {

	.Navbar {
        padding-right: 30px;
    }
    .wrap7 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        gap: 5em;
        flex-wrap: wrap;
    margin-top: 60px;
    
    }
    .box7 {
        background: #ddd;
        width: 15rem;
        height: 5rem;
        color: #9c9c9c;
        border-radius: 1rem;
        padding: 5px 5px 5px 5px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        display: flex;
    
    }
    
    .box7.four7 {
       background-color: #DDDDDD;
       box-shadow: 0px 0px 0px #fff,
       -20px -20px 60px #fff;
    
    }
    .box7.four7:hover {
        box-shadow: 20px 20px 60px #DDDDDD,
            -20px -20px 60px #fff;
        transition: box-shadow 1s ease;
        transition-delay: 0.1s;
    }
    
    .box7.four7:hover {
        /* box-shadow: 
        inset 20px 20px 60px -20px #bbb, 
        inset -20px -20px 60px #ddd; */
    }

}
@media screen and (max-width: 400px) {

	.Navbar {
        padding-right: 30px;
    }

    .wrap7 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        gap: 5em;
        flex-wrap: wrap;
    margin-top: 60px;
    
    }
    .box7 {
        background: #ddd;
        width: 15rem;
        height: 5rem;
        color: #9c9c9c;
        border-radius: 1rem;
        padding: 5px 5px 5px 5px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        display: flex;
    
    }
    
    .box7.four7 {
       background-color: #DDDDDD;
       box-shadow: 0px 0px 0px #fff,
       -20px -20px 60px #fff;
    
    }
    .box7.four7:hover {
        box-shadow: 20px 20px 60px #DDDDDD,
            -20px -20px 60px #fff;
        transition: box-shadow 1s ease;
        transition-delay: 0.1s;
    }
    
    .box7.four7:hover {
        /* box-shadow: 
        inset 20px 20px 60px -20px #bbb, 
        inset -20px -20px 60px #ddd; */
    }

}