.Footer {
  
   
}
.Footer-container{
    padding-top: 50px;
    padding-bottom: 100px;
}
.Footer h3 {
   color: rgb(203, 203, 203);
}
.Footer p {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.footer-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-image img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #d2c9c9;
    margin-top: 20px;
    margin-right: 20px;
    
}