.Resume {
    border-bottom: 1px solid #d2c9c9;
    margin-bottom: 150px;
}
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #ddd;
    width: 15rem;
    height: 5rem;
    color: #FF014F;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {




    width: 15rem;
    height: 5rem;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow:
        inset 20px 20px 60px -20px #bbb,
        inset -20px -20px 60px #ddd;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    /* margin-top: 30px;
    background: #ddd;
 
    color: #000;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center; */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {

    background: #ddd;

    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;
}


.wrap18 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 5em;
    flex-wrap: wrap;


}

.wrapC {
    margin-top: -12rem;


}

.box18 {
    background: #ddd;
    width: 35rem;
    height: 20rem;
    color: #9c9c9c;
    border-radius: 1rem;
    padding: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;




}

.box18:hover {
    color: #fff;
    background-color: #00C6A3;
    transition-delay: 1s ease-in;
    transition: 3s ease-in-out;
    color: #fff;

 
}

.box18.four18 {
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;


}

.box18.four18:hover {
    box-shadow: 20px 20px 60px #DDDDDD,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.1s;
    color: #fff;
}

.box18.four18:hover h3 {
	transform: translateY(-20px);
    transition: all 400ms ease-in-out;
    color: #fff;
}
.box18.four18:hover hr {
	transform: translateY(-20px);
    transition: all 400ms ease-in-out;
    color: #fff;
}
.box18.four18:hover p {
	transform: translateY(-20px);
    transition: all 400ms ease-in-out;
    color: #fff;
}





/* ////////////////////////////////////// */
.profile {
    padding-bottom: 50px;
}

.wrap9 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 5em;
    flex-wrap: wrap;


}


.box9 {
    background: #ddd;
    width: 100%;
    height: 100%;
    color: #9c9c9c;
    border-radius: 1rem;
    padding: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #000;
    /* margin: 100px 100px 0px 100px; */


}

.box9:hover {
    color: #000;
    /* background-color: #FF014F; */
    /* transition-delay: 1s ease-in;
    transition: 3s ease-in-out; */
    color: #000;
    /* margin-bottom: 50px; */

}

.box9.four9 {
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;
}

/* .box9.four9:hover  {
    box-shadow: 20px 20px 60px #DDDDDD,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.1s;
    color: #fff;
} */
/* .box9.four9:hover  h3{

    color: #fff;
} */

.social-media-flex {
    display: flex;
}

.social-media-flex-justify-content {
    justify-content: center;
}

.social-media-flex-align-items {
    align-items: center;
}

.social-media-grid {
    display: grid;
}

.social-media-grid-gap {
    grid-gap: 0.5em;
}

.main-container-social {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container-social {
    grid-template-rows: repeat(2, 1.5em);
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: #262626;
    box-shadow: 0 0 0.25em #262626;
}

.social-links {
    grid-template-columns: repeat(3, 2em);
    grid-gap: 0.5em;
    z-index: 100;
}

.social-link {
    font-size: 1.5rem;
    color: #bfbfbf;
    transition: 0.3s all ease;
    transition-timing-function: cubic-bezier(0, -0.5, 0, 0.5);
}

.social-link:hover {
    color: #f2f2f2;
    transform: translateY(-0.1em);
    transition-timing-function: cubic-bezier(0.5, -1.5, 0.5, 1.5);
}

.made {
    display: block;
    color: #f2f2f2;
    font-size: 0.75rem;
    text-align: center;
}



/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d0d0d;
  }
   */
/* .wrapper{
    width: 100%;

    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
} */
/* .container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}  */
/* .container * {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 500;
} */

/* h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
} */

.my-skill {
    margin-top: 100px;


}

.technical-skill-section {
    padding-bottom: 80px;
}

.technical-skill {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;

    border: 2px solid #00C6A3;

    border-radius: 20px;

}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #00C6A3;


}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 75%;
    }
}

#js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 72%;
    }
}

#jQuery-bar {
    animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
    100% {
        width: 58%;
    }
}

#React-bar {
    animation: React-fill 2s forwards;
}

@keyframes React-fill {
    100% {
        width: 78%;
    }
}

#MongoDB-bar {
    animation: MongoDB-fill 2s forwards;
}

@keyframes MongoDB-fill {
    100% {
        width: 68%;
    }
}

#Express-bar {
    animation: Express-fill 2s forwards;
}

@keyframes Express-fill {
    100% {
        width: 65%;
    }
}


#Node-bar {
    animation: Node-fill 2s forwards;
}

@keyframes Node-fill {
    100% {
        width: 70%;
    }
}

/* Technical Skills end */

/* Profesional Skills Start */

.Profesional-Skills {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.container__progressbars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20%;
    width: 100%;

}

.progressbar {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 1em;
    transform: rotate(-90deg);
}

.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: #00C6A3;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.shadow-html {
    filter: drop-shadow(0 0 5px #ff6633);
}

.shadow-css {
    filter: drop-shadow(0 0 5px #33bbff);
}

.shadow-scss {
    filter: drop-shadow(0 0 5px #ff33ff);
}

/* .shadow-com {
    filter: drop-shadow(0 0 5px #ffff33);
} */

/* .shadow-ts {
    filter: drop-shadow(0 0 5px #F3A5B4);
} */

.shadow-node {
    filter: drop-shadow(0 0 5px #55ff33);
}

.shadow-react {
    filter: drop-shadow(0 0 5px #33ffff);
}

.shadow-angular {
    filter: drop-shadow(0 0 5px #ff3333);
}

.shadow-vue {
    filter: drop-shadow(0 0 5px #33ff88);
}

.circle-html {
    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
    animation: anim_circle-html 1s ease-in-out forwards;
}

.circle-css {
    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
    animation: anim_circle-css 1s ease-in-out forwards;
}

.circle-scss {
    -webkit-animation: anim_circle-scss 1s ease-in-out forwards;
    animation: anim_circle-scss 1s ease-in-out forwards;
}

.circle-com {
    -webkit-animation: anim_circle-com 1s ease-in-out forwards;
    animation: anim_circle-com 1s ease-in-out forwards;
}

.circle-project {
    -webkit-animation: anim_circle-project 1s ease-in-out forwards;
    animation: anim_circle-project 1s ease-in-out forwards;
}

.circle-team {
    -webkit-animation: anim_circle-team 1s ease-in-out forwards;
    animation: anim_circle-team 1s ease-in-out forwards;
}

.circle-creativity {
    -webkit-animation: anim_circle-creativity 1s ease-in-out forwards;
    animation: anim_circle-creativity 1s ease-in-out forwards;
}

.circle-angular {
    -webkit-animation: anim_circle-angular 1s ease-in-out forwards;
    animation: anim_circle-angular 1s ease-in-out forwards;
}

.circle-vue {
    -webkit-animation: anim_circle-vue 1s ease-in-out forwards;
    animation: anim_circle-vue 1s ease-in-out forwards;
}

.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
    to {
        stroke-dashoffset: 22;
    }
}

@keyframes anim_circle-html {
    to {
        stroke-dashoffset: 22;
    }
}

@-webkit-keyframes anim_circle-css {
    to {
        stroke-dashoffset: 66;
    }
}

@keyframes anim_circle-css {
    to {
        stroke-dashoffset: 66;
    }
}

@-webkit-keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 132;
    }
}

@keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 132;
    }
}

@-webkit-keyframes anim_circle-com {
    to {
        stroke-dashoffset: 50;
    }
}

@keyframes anim_circle-com {
    to {
        stroke-dashoffset: 50;
    }
}

@-webkit-keyframes anim_circle-project {
    to {
        stroke-dashoffset: 65;
    }
}

@keyframes anim_circle-project {
    to {
        stroke-dashoffset: 65;
    }
}

@-webkit-keyframes anim_circle-team {
    to {
        stroke-dashoffset: 148;
    }
}

@keyframes anim_circle-team {
    to {
        stroke-dashoffset: 148;
    }
}

@-webkit-keyframes anim_circle-creativity {
    to {
        stroke-dashoffset: 100;
    }
}

@keyframes anim_circle-creativity {
    to {
        stroke-dashoffset: 100;
    }
}

@-webkit-keyframes anim_circle-angular {
    to {
        stroke-dashoffset: 418;
    }
}

@keyframes anim_circle-angular {
    to {
        stroke-dashoffset: 418;
    }
}

@-webkit-keyframes anim_circle-vue {
    to {
        stroke-dashoffset: 431.2;
    }
}

@keyframes anim_circle-vue {
    to {
        stroke-dashoffset: 431.2;
    }
}


/* Profesional Skills Start */
.Profesional-Skills2 {
    display: none;
}




@media screen and (min-width:320px) and (max-width:480px) {
    .container__progressbars {
        padding-left: 12%;
        width: 95%;
    }

    .barss {
        margin-left: -20px;
    }

    .barss2 {
        margin-left: -30px;
    }

    .Profesional-Skills1 {
        display: none;
    }

    .Profesional-Skills2 {
        padding-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrap18 {
        height: 60vh;
        gap: 5em;
    }

    .box18 {
        background: #ddd;
        width: 45rem;
        height: 26rem;
        color: #9c9c9c;
        border-radius: 1rem;
        padding: 30px 30px 30px 30px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: -12%;
    }

    .boxs1 {
        margin-top: 40px;
    }

    .wrapC {
        margin-top: 1px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {}

@media screen and (min-width:769px) and (max-width:1024px) {}

@media screen and (min-width:1025px) and (max-width:1200px) {}

@media screen and (min-width:481px) and (max-width:768px) {}

@media screen and (min-width:1201px) {}