.Portfolio {
    margin-top: 50px;
}

.Portfolio-Container {
    border-top: 1px solid #d2c9c9;
    border-bottom: 1px solid #d2c9c9;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading p {
    color: #FF014F;
}

.heading h1 {
    font-size: 50px;
}

.wrap4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 5em;
    flex-wrap: wrap;

}

/* .wrap4:hover  {
	color: #fff;
	background-color: #FF014F;

} */
.wrap4:hover h3 {
    color: #fff;

}

.wrap4:hover h2 {
    color: #fff;
}
.wrap4:hover h5 {
    color: #fff;
}
.iconF {
    display: flex;
    text-decoration: none;
}
.iconF  h5{
   color: #DDDDDD;
   padding-left: 10px;
}

.wrap4 .Feature-icons {
    font-size: 20px;
}
.wrap4:hover .Feature-icons {
    color: #fff;
    transition: 1s ease-out;
    font-size: 20px;
    padding-left: 20px;

}

.wrap4 h2,
h3 {
    color: #000;

}


.box {
    background: #ddd;
    width: 25rem;
    height: 30rem;
    color: #9c9c9c;
    border-radius: 1rem;
    padding: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.box:hover {
    color: #fff;
    background-color: #FF014F;
    transition-delay: 1s ease-in;
    transition: 3s ease-in-out;
    margin-bottom: 50px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.box.one {
    background: linear-gradient(145deg, #efefef, #cdcdcd);
    box-shadow:
        20px 20px 60px #bbb,
        -20px -20px 60px #fff;
}

.box.two {
    box-shadow:
        inset 20px 20px 60px -20px #bbb,
        inset -20px -20px 60px #ddd;
}

.box.three {
    box-shadow: none;
    transition: box-shadow 1s ease;
}

.box.three:hover {
    box-shadow:
        20px 20px 60px #bbb,
        -20px -20px 60px #fff;
}

.box.four {
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;
}

.box.four:hover {
    /* box-shadow: 
    inset 20px 20px 60px -20px #bbb, 
    inset -20px -20px 60px #ddd; */
}

.portfolio-img {
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 370px) {

	.wrap4 {
		height: 65vh;
	}
    .portfolio-img {
        height: 150px;
        width: 100%;
    }
}
@media screen and (max-width: 400px) {

    .wrap4 {
		height: 65vh;
	}
    .portfolio-img {
        height: 150px;
        width: 100%;
    }
    .wrap4 {
		height: 75vh;
	}
}