.Portfolio {
    margin-top: 50px;
}

.Portfolio a {
    text-decoration: none;
}

.Portfolio-Container {
    border-top: 1px solid #d2c9c9;
    border-bottom: 1px solid #d2c9c9;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.heading {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.heading p {
    color: #FF014F;
}

.heading h1 {
    font-size: 50px;
}

.wrap4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 5em;
    flex-wrap: wrap;

}

/* .wrap4:hover  {
	color: #fff;
	background-color: #FF014F;

} */
/* .wrap4:hover h3 {
    color: #fff;

}

.wrap4:hover h2 {
    color: #fff;
}

.wrap4:hover h5 {
    color: #e65a84;
} */

.iconF {
    display: flex;
    text-decoration: none;
}

.iconF h5 {
    color: #DDDDDD;
    padding-left: 10px;
}

/* 
.wrap4 .Feature-icons {
    font-size: 20px;
    color: #FF014F;
}

.wrap4:hover .Feature-icons {
    color: #fff;
    transition: 1s ease-out;
    font-size: 20px;
    padding-left: 20px;

} */

.wrap4 h2 {
    color: rgb(70, 68, 68);
    word-spacing: 1px;
    font-size: 35px;
}


.box {
    background: #ddd;
    width: 25rem;
    height: 25rem;
    color: #9c9c9c;
    border-radius: 1rem;
    padding: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.box .Feature-icons {
    font-size: 30px;
    margin-left: 60%;
}

.box:hover .Feature-icons {
    font-weight: bold;
	transform: translateY(-35px);
    transition: all 400ms ease-in-out;
    font-size: 30px;

    color: #FF014F;
}
.box .Feature-icons {
    font-size: 30px;
    margin-left: 60%;
}

.box:hover .Feature-icons {
    font-weight: bold;
	transform: translateY(-35px);
    transition: all 400ms ease-in-out;
    font-size: 30px;

    color: #FF014F;
}

.box:hover {
    color: #fff;
    background-color: #00C6A3;
    transition-delay: 1s ease-in;
    transition: 3s ease-in-out;
    overflow: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.box:hover h5 {
    color: #ff018d;
    font-weight: bold;
}

.box:hover h2 {
    color: #fff;
}

.box:hover h3 {
    color: #fff;
}


.box.four {
    box-shadow: 20px 20px 60px #bbb,
        -20px -20px 60px #fff;
    transition: box-shadow 1s ease;
    transition-delay: 0.5s;
}

.box.four:hover {
    /* box-shadow: 
    inset 20px 20px 60px -20px #bbb, 
    inset -20px -20px 60px #ddd; */
}

.box .portfolio-img {
    height: 200px;
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.box:hover img {
    transform: scale(1.2);
    transition: .8s all ease-out;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    color: #FF014F;
    margin-top: 20px;
}
.portfolio-title2 {
    display: block;
    justify-content: space-between;
    color: #FF014F;
    margin-top: 20px;
}

.portfolio-liked {
    display: flex;
    justify-content: space-around;
    color: rgba(108, 104, 104, 0.886);
}
.portfolio-liked h6{
    padding-left: 10px;
}







@media screen and (min-width:320px) and (max-width:380px) {
    .wrap4 {
        height: 45vh;
        width: 19rem;
        margin-left: 12px;
    }

    .portfolio-img {
        height: 100px;
        width: 100%;
    }

    
    .box {
        height: 28rem;
        width: 20rem;
    }
    .box h2{
      font-size: 30px;
      text-align: left;
    }
    .portfolio-imge {
        width: 100px;

    }

    .box .Feature-icons {
        font-size: 30px;
        margin-left: 45%;
    }
}

@media screen and (min-width:381px) and (max-width:400px) {
    .wrap4 {
        height: 45vh;
        width: 20rem;
        margin-left: 22px;
    }

    .portfolio-img {
        height: 100px;
        width: 100%;
    }

    
    .box {
        height: 28rem;
        width: 20rem;
    }
    .box h2{
      font-size: 30px;
      text-align: left;
    }
    .portfolio-imge {
        width: 100px;

    }
    .box .Feature-icons {
        font-size: 30px;
        margin-left: 45%;
    }
}

@media screen and (min-width:401px) and (max-width:450px) {
    .wrap4 {
        height: 45vh;
        width: 20rem;
        margin-left: 52px;
    }

    .portfolio-img {
        height: 100px;
        width: 100%;
    }

    
    .box {
        height: 28rem;
        width: 20rem;
    }
    .box h2{
      font-size: 30px;
      text-align: left;
    }
    .portfolio-imge {
        width: 100px;

    }
    .box .Feature-icons {
        font-size: 30px;
        margin-left: 45%;
    }
}

@media screen and (min-width:451px) and (max-width:480px) {
    .wrap4 {
        height: 45vh;
        width: 20rem;
        margin-left: 62px;
    }

    .portfolio-img {
        height: 100px;
        width: 100%;
    }

    
    .box {
        height: 28rem;
        width: 20rem;
    }
    .box h2{
      font-size: 30px;
      text-align: left;
    }
    .portfolio-imge {
        width: 100px;

    }
    .box .Feature-icons {
        font-size: 30px;
        margin-left: 45%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {}

@media screen and (min-width:769px) and (max-width:1024px) {}

@media screen and (min-width:1025px) and (max-width:1200px) {}

@media screen and (min-width:481px) and (max-width:768px) {}

@media screen and (min-width:1201px) {}